.mainContainer {
  composes: container-column from global;
  width: fit-content;
  position: relative;
  background: var(--background-color);
  z-index: 1;
}

.labelContainer {
  composes: container-row from global;
}

.title {
  composes: title from global;
}

.textField {
  composes: label from global;
}

.textInput {
  composes: input from global;
}

.button {
  composes: button from global;
}

.inActiveInput {
  pointer-events: none;
  background: transparent;
  border-color: transparent;
}

.disabled {
  display: none;
}

.penIcon {
  height: 30px;
  aspect-ratio: 1/1;
}

.penBtn {
  cursor: pointer;
  background: var(--background-color);
  border: none;
}

.hiddenBtn {
  position: absolute;
  z-index: -1;
  transition: 0.5s;
  right: 0px;
}

.showBtn {
  transform: translateX(150%);
}

.blockContainer {
  composes: container-row from global;
  justify-content: end;
  align-items: center;
  background: var(--background-color);
}

.textLabel {
  composes: checkbox-label from global;
}

.checkBox {
  composes: checkbox-wrapper from global;
}

.addressArea {
  width: 100%;
}

.separator {
  width: 100%;
  height: 5px;
  background: var(--primary-color);
}
