@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("modern-normalize/modern-normalize.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  color: #004177;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.main {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  gap: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
  width: 100%;
  gap: 10px;
}

.container-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  gap: 10px;
}

.container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
  width: 100%;
  gap: 10px;
}

.container-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 10px;
}

@media (width <=768px) {
  .container-buttons {
    flex-direction: column;
    align-items: flex-end;
  }
}

.button {
  border-radius: 0.3rem;
  background-color: #0074be;
  color: white;
  transition: 0.3s;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
}

.button:hover {
  background-color: #004177;
  cursor: pointer;
  box-shadow: 1px 2px 2px #0074be;
}

.button:active {
  cursor: pointer;
}

.logo {
  cursor: pointer;
  text-wrap: nowrap;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 16px;
  border: 3px solid #0074be;
  border-radius: 20px;
  color: #0074be;
  height: fit-content;
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.error {
    min-height: 20px;
    text-align: center;
    padding: 10px;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}

.input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #004177;
  transition:
    border 0.3s,
    box-shadow 0.3s;
}

.input:focus {
  outline: none;
  border-color: #004177;
  box-shadow: 0 0 5px #0074be;
}

.container-inputs {
  position: relative;
  width: 250px;
}

.container-inputs .input {
  width: 100%;
}

.eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}
